n8n_gmail_AI_agent/extras/indeed_keyword_scrapper.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Define your search criteria\nconst keywords = [\"Edge AI\", \"Embedded systems\", \"AI Engineer\", \"Robotics\"];\nconst locations = [\"Netherlands\", \"Germany\", \"United Arab Emirates\"];\n\nconst inputs = [];\n\n// Create Combinations: Every Keyword in Every Location\nfor (const k of keywords) {\n  for (const l of locations) {\n    inputs.push({\n      keyword: k,\n      location: l,\n      // Request 3 days of data to ensure we cover the weekend/delays,\n      // we will filter strictly to 48h in the final node.\n      time_period: \"3\"\n    });\n  }\n}\n\nreturn inputs.map(i => ({ json: i }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -780,
        2400
      ],
      "id": "generate-keywords",
      "name": "Generate Keywords"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brightdata.com/datasets/v3/trigger",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "dataset_id",
              "value": "gd_l4dx9j9sscpvs7no2"
            },
            {
              "name": "include_errors",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 6a76420efd02bc22317ce6105eb60eae4c4e604ddc02bb17561efcbc021859d9"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -560,
        2400
      ],
      "id": "trigger-bd-search",
      "name": "Trigger BD Search"
    },
    {
      "parameters": {
        "url": "=https://api.brightdata.com/datasets/v3/progress/{{$json.snapshot_id}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 6a76420efd02bc22317ce6105eb60eae4c4e604ddc02bb17561efcbc021859d9"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -340,
        2400
      ],
      "id": "check-progress-search",
      "name": "Check Progress"
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -120,
        2360
      ],
      "id": "wait-search",
      "name": "Wait Search"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1c3ef6ad-3193-419b-82e1-18cb4e729137",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ready",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        100,
        2400
      ],
      "id": "if-ready-search",
      "name": "Is Ready?"
    },
    {
      "parameters": {
        "url": "=https://api.brightdata.com/datasets/v3/snapshot/{{$json.snapshot_id}}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "format",
              "value": "json"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 6a76420efd02bc22317ce6105eb60eae4c4e604ddc02bb17561efcbc021859d9"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        320,
        2400
      ],
      "id": "get-search-results",
      "name": "Get Search Results"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst out = [];\n\n// 1. Define Strict 48-Hour Cutoff\n// We filter out any job strictly older than 48 hours from \"now\"\nconst twoDaysAgo = Date.now() - (48 * 60 * 60 * 1000);\n\nfunction cleanText(txt) {\n  if (!txt) return \"\";\n  // Remove HTML tags and clean whitespace\n  return String(txt)\n    .replace(/<[^>]+>/g, \"\\n\")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfor (const item of items) {\n  let results = [];\n  // Handle Bright Data API variations (single object vs array vs .data)\n  if (Array.isArray(item.json)) results = item.json;\n  else if (Array.isArray(item.json.data)) results = item.json.data;\n  else results = [item.json];\n\n  for (const job of results) {\n    const dateStr = job.job_date_published || job.date || job.postedAt || \"\";\n    \n    // 2. PARSE DATE & FILTER\n    let postedTs = 0;\n    const parsed = Date.parse(dateStr);\n\n    if (!isNaN(parsed)) {\n      postedTs = parsed;\n    } else {\n      // Handle relative strings common on Indeed\n      if (/Just posted|Today|1 day ago|2 days ago|hour/i.test(dateStr)) {\n        postedTs = Date.now(); // Keep it\n      } else if (/days ago/i.test(dateStr)) {\n        // Extract number: \"5 days ago\"\n        const m = dateStr.match(/(\\d+)\\s+days?/);\n        if (m && parseInt(m[1]) > 2) continue; // SKIP if > 2 days\n        postedTs = Date.now();\n      }\n    }\n\n    // The Strict Filter: if we have a valid timestamp older than 48h, drop it.\n    if (postedTs > 0 && postedTs < twoDaysAgo) continue;\n\n    // 3. NORMALIZE TO PIPELINE FORMAT\n    // We map Indeed fields to the exact keys your AI Agent expects.\n    out.push({\n      json: {\n        platform: \"indeed\",\n        jobId: String(job.job_key || job.id || job.jobId || \"indeed_search_\" + Math.random().toString(36).slice(2)),\n        jobTitle: job.title || job.job_title || \"Unknown Title\",\n        company: job.company || job.company_name || \"Unknown Company\",\n        location: job.location || job.formattedLocation || \"Unknown Location\",\n        jobUrl: job.url || job.link || null,\n        applyUrl: job.url || job.link || null,\n        description: cleanText(job.description || job.summary || \"\"),\n        postedAt: dateStr || new Date().toISOString(),\n        scrapedAt: new Date().toISOString(),\n        // Unique key for deduplication downstream\n        uniqueKey: job.job_key ? `indeed:${job.job_key}` : `indeed:${job.url}`,\n        raw: job\n      }\n    });\n  }\n}\n\n// Safety: If no jobs found, return empty array (Merge node handles it)\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        2400
      ],
      "id": "normalize-indeed-search",
      "name": "Normalize Indeed Search"
    }
  ],
  "connections": {
    "Generate Keywords": {
      "main": [
        [
          {
            "node": "Trigger BD Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger BD Search": {
      "main": [
        [
          {
            "node": "Check Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Progress": {
      "main": [
        [
          {
            "node": "Wait Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Search": {
      "main": [
        [
          {
            "node": "Is Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Ready?": {
      "main": [
        [
          {
            "node": "Get Search Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Search Results": {
      "main": [
        [
          {
            "node": "Normalize Indeed Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}